## OS metadata
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100/
.Trashes/
.fseventsd/
Desktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.directory

# Keep JetBrains project configuration available for commit.
!.idea/
!.idea/**

Old resources.zip
fernandod.sql.zip

*.log
error_log

php/inc/mail_config.local.php
php/inc/recaptcha_config.local.php
php/inc/connector_data.local.php
